<div  ng-controller="LoadDataCtrl" >
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <div class="input-group">
        <input type="text" class="form-control" placeholder="Search for..." ng-model="search">
        <!-- <span class="input-group-btn">
        </span> -->
      </div>
      <label class="radio-inline"><input type="radio" name="optradio" ng-click="poisonousMushrooms()">Poisonous</label>
      <label class="radio-inline"><input type="radio" name="optradio" ng-click="edibleMushrooms()">Non-poisonous</label>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
    </div>
    <div class="col-md-6 col-md-offset-3" ng-repeat="mushroom in mushrooms | filter: {name : search}">
      <h1>{{mushroom.name.toUpperCase()}}</h1>
      <h4>{{mushroom.edible}}</h4>
      <p>{{mushroom.description}}</p>
      <hr/>
    </div>
  </div>
</div>
